:root {
  --scrollbar-width: 6px;
  --scrollbar-thumb-color: #b1beca;
  --scrollbar-thumb-hover: #96a5b3;
  --scrollbar-track-color: #f5f7fa;
  --scrollbar-border-radius: 5px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-border-radius);
  transition: all 0.3s ease;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.06);
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

html {
  @apply w-screen h-screen text-gray-700 overflow-y-auto scroll-smooth scroll-p-t-20;
  font-family: 'Noto Sans SC Variable', sans-serif;
}

body {
  @apply w-full h-full bg-fixed bg-cover bg-no-repeat;
  background-image: url('https://rand-pics.indusy.workers.dev/api/random');
}

code {
  font-family: 'JetBrains Mono Variable', monospace;
}
