:root {
  --scrollbar-width: 6px;
  --scrollbar-thumb-color: #b1beca;
  --scrollbar-thumb-hover: #96a5b3;
  --scrollbar-track-color: #f5f7fa;
  --scrollbar-border-radius: 5px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-border-radius);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: var(--scrollbar-border-radius);
  transition: all 0.3s ease;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.06);
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

body {
  @apply w-screen h-screen bg-fixed bg-cover bg-no-repeat text-gray-700;
  font-family: 'Noto Sans SC Variable', sans-serif;
  scroll-behavior: smooth;
  /* background-image: url('/background.jpg'); */
  background-image: url('https://butanediol.me/randpic');
}

#root {
  @apply w-full h-full bg-white/90 overflow-auto;
}

code {
  font-family: 'JetBrains Mono Variable', monospace;
}
