---
import { getCollection } from 'astro:content'
import Banner from '@/components/Banner.astro'

import LinkCard from '@/components/LinkCard.astro'
import Panel from '@/components/Panel.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'

const links = await getCollection('links')
---

<BaseLayout>
  <div class="">
    <Banner title="友情链接" subtitle="友情作伴，链接世界的温度" />
    <div class="flex flex-row justify-center gap-4 relative max-w-7xl mx-auto">
      <Panel class="w-full mx-auto">
        <div class="p-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            links.map((link) => (
              <LinkCard
                logo={link.data.logo}
                title={link.data.title}
                description={link.data.description}
                url={link.data.url}
              />
            ))
          }
        </div>
      </Panel>
    </div>
  </div>
</BaseLayout>
