---
import NavLink from './NavLink.astro'
---

<div class:list={['header', 'on-top']}>
  <a href="/" class="brand">
    <!-- <div class="logo-wrap">
      <img class="logo" src="/yanami.jpg" alt="Logo" />
    </div> -->
    <span class="brand-text">Indusy's Site</span>
  </a>
  <div class="header-links">
    <NavLink href="/" icon="gg:home-alt">首页</NavLink>
    <NavLink href="/blog" icon="gg:notes">博客</NavLink>

    <NavLink href="/about" icon="gg:info">关于</NavLink>
    <NavLink href="/links" icon="gg:link">友链</NavLink>
  </div>
</div>

<style>
  .header {
    @apply sticky top-0 z-50 w-full flex flex-row justify-between items-center px-16 py-4 transition-all duration-300 bg-white/20 backdrop-blur-md;
  }

  .header.on-top {
    @apply bg-transparent backdrop-blur-none;
  }

  .brand {
    @apply text-xl font-bold flex flex-row items-center gap-2;
  }

  .brand-text {
    @apply text-gray-700 transition-all duration-300 relative;
    text-shadow: 0 0 0 rgba(14, 165, 233, 0);
  }

  .brand:hover .brand-text {
    @apply text-sky-600 dark:text-sky-400/50;
    text-shadow: 0 0 10px rgba(14, 165, 233, 0.5);
  }

  .logo-wrap {
    @apply w-12 h-12 overflow-hidden rounded;
  }

  .logo {
    @apply w-full h-full object-cover;
  }

  .header-links {
    @apply flex flex-row gap-4;
  }
</style>

<script>
  const rootEl = document.getElementById('root')
  const headerEl = document.querySelector('.header')

  rootEl?.addEventListener('scroll', () => {
    if (rootEl) {
      if (rootEl.scrollTop === 0) {
        headerEl?.classList.add('on-top')
      } else {
        headerEl?.classList.remove('on-top')
      }
    }
  })
</script>
