---
import BaseHead from '@/components/BaseHead.astro'
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import ToTop from '@/components/ToTop.astro'
import '@/styles/global.css'
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <div class="root">
      <Header />
      <div class="main-content">
        <slot />
      </div>
      <Footer />
      <ToTop />
    </div>
  </body>
</html>

<style>
  .root {
    @apply bg-white/85 flex flex-col min-h-screen;
  }

  .main-content {
    @apply flex-1;
  }
</style>
